<html>
    <head>
        <title>404-error</title>
        <style>
        *
        {
            font-family: 'Courier New', Courier, monospace;
        }
        p
        {
            margin: 70px;
        }  
        #img1
        {
            margin: 50px;
        }

        </style>
    </head>
    <body style="background-color:rgb(248, 245, 245)">
        <center>
        <img src="../images/404-error.png" alt="error" id="img1">
        <P>ERROR 404- PAGE NOT FOUND</P>
        <P>THE PAGE YOU REQUESTED COULD NOT BE FOUND</P>
        </center>
    </body>
</html>